.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #eaedef;
}

.divTitle {
    margin-top: 2%;
    display: flex;
    width: 90%;
    height: 10%;
    align-items: center;
    background-color: var(--blue-dark);
}

.title {
    color: var(--white);
    font-size: 28px;
    margin-left: 3%;
}

.searchContainer {
    margin-top: 1%;
    display: flex;
    width: 87%;
    height: 5%;
    flex-direction: row;
    justify-content: space-between;
}

.divSearch {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--gray);
    background-color: var(--white);
}

.inputSearch {
    width: 95%;
    height: 90%;
    border: none;
    outline: none;
    background-color: var(--white);
    font-size: 16px;
}

.searchImg {
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
}

.divTable {
    width: 90%;
    height: 74%;
    margin-top: 1%;
    overflow: auto;
}

.pedTable {
    width: 95%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 1.5%;
    margin-left: 2.5%;
}

.thStyle {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid var(--gray);
}

.tdStyle {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid var(--gray);
    padding: 1%;
}

.divStatus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanStatus {
    cursor: pointer;
    width: 70%;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--white-container);
}

.Aguardando {
    background-color: var(--purple);
    color: white;
}

.Preparando {
    background-color: var(--yellow);
}

.Pronto {
    background-color: var(--green);
    color: white;
}

.Entregue {
    background-color: var(--blue);
    color: white;
}

.Cancelado {
    background-color: var(--red);
}

.imgEdit {
    cursor: pointer;
}

.divBtnFooter {
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.styleFooter {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin-left: 1%;
    margin-right: 1%;
}

.styleFooter:hover {
    color: var(--blue);
}

.totalPages {
    width: 1.7%;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--blue-dark);
    border-radius: 10px;
    cursor: pointer;
}

.disabledBtn {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--gray);
}