{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/frontend/static/css/sidebar.css"/>
    <link rel="stylesheet" href="/frontend/static/css/configuracao.css"/>
    <link rel="stylesheet" href="/frontend/static/css/geral.css"/>
    <title>Configurações</title>
</head>
<body>
    <div class="geralContainer">
        {% include 'sidebar.html' %}
        <div class="centralContainer">
            <div class="divConfig">
                <div class="contentContainer">
                    <span class="config">Configure seu Bot</span>
                    <label for="botName" class="lbStyle">Escolha o nome do seu bot</label>
                    <input type="text" id="botName" class="inputStyle" placeholder="Nome Bot...">
                    <label for="botDesc" class="lbStyle">Dê uma descrição para o seu bot</label>
                    <textarea id="botDesc" class="inputStyle textarea" placeholder="Descrição Bot..." rows="4" cols="30"></textarea>
                </div>
                <div class="divBtn">
                    <button class="btnStyle" id="sendBtn">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
    <script src="{% static 'toastAlert.js' %}"></script>
    <script src="{% static 'config.js' %}"></script>
</body>
</html>