<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/frontend/static/CSS/entrega.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <input type="checkbox" id="menu-toggle">
    
    <div class="main-content">
        
        <main>
            
            <div class="page-header">
                <h1>Entregas</h1>
            </div>
            
            <div class="page-content">
            
                <div class="records table-responsive">

                    <div class="record-header">

                        <div class="browse">
                            <span class="search-icon las la-search"></span>
                           <input type="search" placeholder="Pesquisar" class="record-search">
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th><img src="/frontend/static/images/quadrado.png" alt=""></th>
                                    <th>Pedido <img src="/frontend/static/images/arrows.png" alt="" class="arrows"></th>
                                    <th>Status <img src="/frontend/static/images/arrows.png" alt="" class="arrows"></th>
                                    <th>Data <img src="/frontend/static/images/arrows.png" alt="" class="arrows"></th>
                                    <th>Cliente <img src="/frontend/static/images/arrows.png" alt="" class="arrows"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="paid">Em rota</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                       <div class="client-info">
                                        Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                       </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="preparando">Preparando</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="pronto">Pronto</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="pronto">Pronto</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="preparando">Preparando</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="paid">Em rota</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="paid">Em rota</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="paid">Em rota</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/frontend/static/images/quadrado.png" alt=""></td>
                                    <td>
                                        #10
                                    </td>
                                    <td>
                                        <span class="preparando">Preparando</span>
                                    </td>
                                    <td>
                                        19 April, 2022
                                    </td>
                                    <td>
                                        <div class="client-info">
                                            Maria Fernanda Bordignon
                                        <img src="/frontend/static/images/Edit.png" alt="Ícone" class="icon">
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>
</body>
</html>