{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/CSS/geral.css">
    <link rel="stylesheet" href="/frontend/static/CSS/sidebar.css">
    <link rel="stylesheet" href="/frontend/static/CSS/pedidos.css">
    <title>Pedidos</title>
</head>
<body>
    <div class="geralContainer">
        {% include 'sidebar.html' %}
        <div class="divContainer">
            <div class="divTitle"><span class="title">Pedidos</span></div>
            <div class="searchContainer">
                <div class="divSearch">
                    <img class="searchImg" src="{% static '/images/Search.png' %}" alt="Pesquisar">
                    <input type="text" class="inputSearch" id="searchValue" placeholder="Pesquisar" autocomplete="off">
                </div>
            </div>
            <div class="divTable">
                <table class="pedTable">
                    <tr>
                        <th class="thStyle" id="thPedido">Pedido </td>
                        <th class="thStyle" id="thStatus">Status </td>
                        <th class="thStyle" id="thValor">Valor Total </td>
                        <th class="thStyle" id="thCliente">Cliente </td>
                        <th class="thStyle" id="thImages"></td>
                    </tr>
                </table>
            </div>
            <div class="divBtnFooter">
                <span class="styleFooter disabledArrows" id="priorBtn"><</span>
                <span class="totalPages">1</span>
                <span class="styleFooter" id="nextBtn">></span>
            </div>
        </div>
    </div>
    <script>
        const activeElement = document.getElementById("{{ active_page }}").classList.add("selected");
        const imagePaths = { edit: '{% static "images/edit.png" %}' };
    </script>
    <script src="{% static 'pedidos.js' %}"></script>
    <script src="{% static 'toastAlert.js' %}"></script>
</body>
</html>