{% load static %}
<div class="sidebar">
  <div class="upperContainer">
    <div class="divListSideBar" id="Pedidos">
      <img
        src="{% static 'images/Pedidos.png' %}"
        class="spacing"
        alt="Pedidos"
      />
      <span class="spacing">Pedidos</span>
    </div>
    <div class="divListSideBar" id="Categorias">
      <img
        src="{% static 'images/Categorias.png' %}"
        class="spacing"
        alt="Categorias"
      />
      <span class="spacing">Categorias</span>
    </div>
    <div class="divListSideBar" id="Conversas">
      <img
        src="{% static 'images/Conversas.png' %}"
        class="spacing"
        alt="Conversas"
      />
      <span class="spacing">Conversas</span>
    </div>
    <div class="divListSideBar" id="Produtos">
      <img
        src="{% static 'images/Produtos.png' %}"
        class="spacing"
        alt="Produtos"
      />
      <span class="spacing">Produtos</span>
    </div>
    <div class="divListSideBar" id="Entregas">
      <img
        src="{% static 'images/Entregas.png' %}"
        class="spacing"
        alt="Entregas"
      />
      <span class="spacing">Entregas</span>
    </div>
    <div class="divListSideBar" id="Usuario">
      <img
        src="{% static 'images/Usuario.png' %}"
        class="spacing"
        alt="Usuários"
      />
      <span class="spacing">Usuários</span>
    </div>
    <div class="divListSideBar" id="Configuracoes">
      <img
        src="{% static 'images/Configuracoes.png' %}"
        class="spacing"
        alt="Configurações"
      />
      <span class="spacing">Configurações</span>
    </div>
  </div>
  <div class="logoutContainer">
    <!-- Usando um link para redirecionar para a URL de logout -->
    <a href="{% url 'logout' %}" class="logoutLink">
      <img
        src="{% static 'images/Logout.png' %}"
        class="spacing"
        alt="logout"
      />
      <span class="spacing">Logout</span>
    </a>
  </div>
</div>
