{% load static %}
<div class="sidebar">
  <div class="upperContainer">
    <a href="{% url 'pedidos' %}" class="divListSideBar" id="Pedidos">
      <img src="{% static 'images/Pedidos.png' %}" class="spacing" alt="" />
      <span class="spacing">Pedidos</span>
    </a>
    <div class="divListSideBar" id="Categorias">
      <img
        src="{% static 'images/Categorias.png' %}"
        class="spacing"
        alt="Categorias"
      />
      <span class="spacing">Categorias</span>
    </div>
    <div class="divListSideBar" id="Produtos">
      <img
        src="{% static 'images/Produtos.png' %}"
        class="spacing"
        alt="Produtos"
      />
      <span class="spacing">Produtos</span>
    </div>
    <div class="divListSideBar" id="Usuarios">
      <img
        src="{% static 'images/Usuario.png' %}"
        class="spacing"
        alt="Usuários"
      />
      <span class="spacing">Usuários</span>
    </div>
  </div>
  <div class="logoutContainer">
    <a href="{% url 'logout' %}" class="divListSideBar">
      <img src="{% static 'images/Logout.png' %}" class="spacing" alt="" />
      <span class="spacing">Logout</span>
    </a>
  </div>
</div>
<script>
  document.getElementById("Categorias").addEventListener("click", () => {
    window.location.href = '/produto/categoria';
  });
  document.getElementById("Produtos").addEventListener("click", () => {
    window.location.href = '/produto/';
  });
  document.getElementById("Usuarios").addEventListener("click", () => {
    window.location.href = '/usuario/';
  });
</script>